/*  Add your styling here */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --purple: #4b004b;
  --light-blue: #30a8ff;
  --green-black: #133032;
  --light-grey: #ededee;
  --light-white: #e2e1e7;
  --white: #fff;
  --transparent-white: rgba(0, 0, 0, 0.75);
  --gradient-blue-purple: linear-gradient(
    300deg,
    rgba(145, 1, 132, 1) 35%,
    rgba(52, 118, 175, 1) 100%
  );
}

html {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 30px;
  color: var(--light-white);
  font-weight: 400;
  background: var(--gradient-blue-purple);
  text-align: center;
}
body {
  background: var(--purple);
  color: #fff;
}
/* ----- Header ----- */

/* ----- Main ----- */
div {
  font-size: 20px;
}
.box {
  display: grid;
  justify-items: center;
  row-gap: 20px;
  padding: 30px;
  font-family: Rubik-light;
  color: #e2e1e7;
  letter-spacing: 2px;
  text-align: center;
  font-family: Rubik-Regular;
  color: #e2e1e7;
  letter-spacing: 2p;
}
.box img {
  display: grid;
  width: 50px;
}

.box span {
  font-size: 30px;
}
.box p {
  font-size: 15px;
}
.box a {
  font-size: 13px;
  text-decoration: none;
  border: 2px solid #30a8ff;
  border-radius: 25px;
  font-size: 16px;
  padding: 10px;
}
.box1,
.box2,
.box3 {
  padding: 30px;
  background: #130325;
  border-radius: 25px;
}
.box2 {
  background: var(--gradient-blue-purple);
}
/* -----Companies----- */
.companies {
  display: grid;
  justify-items: center;
  row-gap: 20px;
  padding: 30px;
  letter-spacing: 4.1px;
  text-align: center;
  color: #e2e1e7;
}
.companies span {
  font-size: 30px;
}
.companies span > span {
  font-size: 30px;
  font-weight: 400;
  background: linear-gradient(
    200deg,
    rgb(253, 253, 253) 10%,
    rgb(107, 4, 98) 35%,
    rgb(255, 162, 249) 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.companies img {
  /* display: grid; */
  grid-template-rows: repeat(2, 1fr);
  padding: 20px 0;
  gap: 1.6rem;
  width: 150px;
  filter: grayscale(1);
}

/* -----Desktop----- */
@media screen and (min-width: 900px) {
}
