/*  Add your styling here */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --purple: #4b004b;
  --dark-blue:#33005a;
  --light-blue: #30a8ff;
  --green-black: #133032;
  --dark-purple: #130325;
  --light-grey: #9a9a9eba;
  --light-white: #e2e1e7;
  --white: #fff;
  --transparent-white: rgba(0, 0, 0, 0.75);
  --gradient-blue-purple: linear-gradient(
    100deg,
    rgba(145, 1, 132, 1) 25%,
    rgba(52, 118, 175, 1) 100%
  );
    --gradient-purple-blue: linear-gradient(
    100deg,
     rgba(52, 118, 175, 1)25%,
    rgba(145, 1, 132, 1) 100%
  );
  --gradient-white-purple-pink: linear-gradient(
    201deg,
    rgb(253, 253, 253) 10%,
    rgb(107, 4, 98) 35%,
    rgb(255, 162, 249) 80%
  )
}

html {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight:normal
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

body {
  background: black;
  color: var(--white);
  background-image: url(/assets/img/bg-blur.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* .bg-img {
  background-image: url(/assets/img/bg-blur.png);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
} */



/* ----- Header ----- */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
.logo {
  display: flex;
  position: relative;
}
.logo-img {
  width: 3.4rem;

}
.logo:hover {
  cursor: pointer;

}

.logo::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: var(--white);
  bottom: 0;
  left: 4px;
  transform-origin: left;
  transform: rotate(-67deg) scaleX(0);
  transition: transform .5s ease-in-out;
}
.logo::after {
  content: '';
  position: absolute;
  width: 57px;
  height: 2px;
  background-color: var(--white);
  top: 2px;
  left: 27px;
  transform-origin: left;
  transform: rotate(67deg) scaleX(0);
  transition: transform .5s ease-in-out;
}


.logo:hover::before {
  cursor: pointer;
  transform-origin: left;
  transform: rotate(-67deg)scaleX(1);
}


.logo:hover::after {
  transform: rotate(67deg)scaleX(1);
}


/* ----- Nav menu ----- */

.header-container {
  display: flex;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
  left: 200%;
  display: none;
}

/* ----- Hamburger menu ----- */

.menu {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 var(--light-white), 0 0 0 0 var(--light-white);
  cursor: pointer;
}

.hamburger {
  position: relative;
  top: 25px;
  left: 10px;
  width: 30px;
  height: 2px;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
  background: var(--light-white);

}



.hamburger:after,
.hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--light-white);
}

.hamburger:before {
  top: -10px;
  background: var(--light-white);

}

.nav-bar .hamburger:after {
  bottom: -10px;
}

.nav-bar input {
  display: none;
}

.nav-bar input:checked + .menu {
  box-shadow: 0 0 0 100vw var(--light-white), 0 0 0 500vh var(--light-white);
  /* border-radius: 2px; */
  background: var(--light-white);

}

.nav-bar input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: var(--dark-blue);
}

.nav-bar input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  background: var(--dark-blue);
}

.nav-bar input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  background: var(--dark-blue);
}

.nav-bar input:checked + .menu + ul {
  /* opacity: 1; */
  left: 50%;
  display: block;
  -webkit-transition: 0.6s 0s ease-in-out;
  transition: 0.6s 0s ease-in-out;
}

.nav-bar ul {
  z-index: 4;
  position: absolute;
  top: 50%; 
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
  white-space: nowrap;
}

.nav-bar a {
  display: flex;
  position: relative;
  padding: 10px 0;
  color: var(--purple);
  text-decoration: none;
  font-size: 25px;
}

.nav-bar a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--white);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.nav-bar a:hover::before {
  cursor: pointer;
  transform-origin: left;
  transform: scaleX(1);
}


/* ----- Main ----- */

main {
  padding: 30px;
  color: var(--light-white);
}
/* ----- hero ----- */

.hero {
  grid-area: hero;
  display: grid;
  justify-content: center;
  gap: 20px;
  font-size: 24px;
  letter-spacing: 3px;
  
}
.hero h1 {
  font-size: 2.1em;
}


.hero h2 {
  font-size: 2.1em;
}
.hero p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2.1px;
  padding: 20px 0;
}
.hero .pricing {
  padding: 10px 0;
}
.hero-col-1 {
width: 100%;
}
.hero-col-2 img {
  width: 100%;
  height: 100%; 
  object-fit: contain;
  -webkit-filter: drop-shadow( 5px 5px 5px #fff);
  filter: drop-shadow(0 4mm 4mm rgb(22, 2, 24)); 
}

/* ----- buttons ----- */

button {
  position: relative;
  background: none;
  letter-spacing: 2.1px;
  text-decoration: none;
  border: 2px solid var(--light-blue);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  color: var(--light-white);
  align-items: center;

}
button:hover {
  position: relative;
  border: 2px solid var(--white);
  transition-duration: .4s;
  letter-spacing: 2.6px;
  padding-right: 15px;
  padding-left: 19px;
  transition: 0.5s;
  cursor: pointer;

}

.flip {
  transform: rotateY(180deg);
}
/* ----- Cards ----- */
.cards-container {
  grid-area: card;
  display: grid;
  justify-items: stretch;
  margin: 0;
}
.cards {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 20px;
  padding: 30px 0;
  justify-items: center;
}

.box {
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 1px;
  border-radius: 25px;
  padding: 15px 20px;
  letter-spacing: 2px;
  text-align: center;
  color: var(--light-white);
  background: var(--dark-purple);
  width: 330px;
  height: 350px;

}

.box2 {
  background: var(--gradient-blue-purple);
}


.box img {
  width: 50px;
}

.box h2 {
  font-size: 28px;
  font-weight: 400;
  padding: 20px 0;
}

.box span {
  font-size: 17px;
  padding: 3px 0;
}
.learn-btn {
  padding-top: 20px;

}
/* -----Companies----- */

.companies {
  grid-area: company;
  display: grid;
  justify-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 20px 0;
  letter-spacing: 4px;
  text-align: center;
  color: var(--light-white);
}
.companies-icons {
  padding: 20px 0;
}

.companies h3 {
  font-size: 30px;
  font-weight: 400;
}
.companies h3 > span {
  font-size: 30px;
  font-weight: 400;
  background: var(--gradient-white-purple-pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.companies img {
  padding: 10px;
  width: 150px;
  filter: grayscale(1);
}

.companies img:hover {
  filter: none;
}

/* ---- ML Development ---- */

.development {
  grid-area: development;
  display: grid;
  justify-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 1050px;
  padding: 30px 0;
  letter-spacing: 4px;
  text-align: start;
  color: var(--light-white);
}

.development .ml-span {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  background: var(--gradient-blue-purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.development h3 {
  font-size: 43px;
  font-weight: 500;
  letter-spacing: 4.3px;
}

.development p {
  font-size: 20px;
  letter-spacing: 2.1px;
  padding: 10px 0;
}

.development .ml-cal-1 {
  display: grid;
  gap: 20px;
}
.development .ml-cal-2 {
  display: none;
}

.development span {
  font-size: 21px;
  color: var(--light-grey);
}

.data-container {
  background: center / contain no-repeat url(/assets/img/Combined-Shape.svg);
  height: 423px;
  display: flex;
  gap: 30px;
  transition: 0.7s ease-in-out;

}
.data {
  display: grid;
  justify-items: center;
  justify-content: space-between;
  align-content: center;
  gap: 20px;

}


.ml-img {
  position: inherit;
  border: 1px solid var(--light-grey);
  border-radius: 10%;
  width: 150px;
  height: 150px;
  transition: 0.7s ease-in-out;

}
.ml-img:hover {
  transform: rotate(360deg);
}
.ml-1 {
  background: center / contain no-repeat url(/assets/img/ml/annotate.png);
  background-size: 77px;
  transition: 0.7s ease-in-out;
}
.ml-2 {
  background: center / contain no-repeat url(/assets/img/ml/manage.png);
  background-size: 77px;
  transition: 0.7s ease-in-out;

}
.ml-3 {
  background: center / contain no-repeat url(/assets/img/ml/automate.png);
  background-size: 77px;
    transition: 0.7s ease-in-out;

}
.ml-4 {
  background: center / contain no-repeat url(/assets/img/ml/evaluate.png);
  background-size: 77px;
    transition: 0.7s ease-in-out;

}
.ml-5 {
  background: center / contain no-repeat url(/assets/img/ml/collect.png);
  background-size: 77px;
    transition: 0.7s ease-in-out;

}
.ml-6 {
  background: center / contain no-repeat url(/assets/img/ml/generate.png);
  background-size: 77px;
    transition: 0.7s ease-in-out;

}

/* ----- Get Start ----- */

.get-start {
  grid-area: get-start;
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  padding: 20px 0px;
  color: var(--light-white);
  letter-spacing: 2px;
  text-align: center;
}

.get-start span {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 400;
  background: var(--gradient-purple-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.startBtn {
  display: grid;
  gap: 15px;

  margin: 0 50px;
}


/* ----- Footer ---- */
footer {
  display: grid;
  justify-content: space-around;
  border-top: 0.1px solid var(--light-grey);
  font-size: 0.875rem;
  padding: 10px 0px;
  color: var(--light-grey);
  justify-items: center;
}

.tnc a {
  display: none;
}

/* -----Mobile----- */

@media screen and (min-width: 755px) {
  .container {
  display: grid;
  justify-items: center;
  padding: 0 1rem;

  }

  header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1100px;
  }

  .hamburger, .menu {
    display: none;
  }
  
  .nav-bar ul {
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    transition: none;
    position: relative;
    
  }
  .nav-link {
    display: flex;
    gap: 35px;

  }
  .nav-bar a {
    color: var(--light-whitewhite);
    font-size: 14px;
    letter-spacing: 3px;
  }
  .nav-link li:last-child {
    border: 2px solid var(--light-blue);
    border-radius: 25px;
    padding: 1px 15px;
    transform-origin: none;
  }
  .nav-bar li:last-child a::before {
    height: 0
  }


 .nav-link li:last-child:hover {
  position: relative;
  border: 2px solid var(--white);
  letter-spacing: 2.6px;
  padding-right: 15px;
  padding-left: 15px;
  transition: 0.5s;
  cursor: pointer;

}
  .hero {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    justify-content: space-around;
    justify-items: center;
    font-size: 20px;
  }

  .hero p {
    font-size: 16px;
    padding: 20px 0;
  }

  .ml-col-2 img {
    max-width: 550px;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .development .ml-cal-2 {
    display: block;
  }
  .startBtn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    column-gap: 100px;
    margin: 0 50px;
  }
  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    justify-content: space-between;
  }
  footer {
    display: grid;
    justify-content: none;
  }
  .tnc  a {
    text-decoration: none;
    list-style-type: none;
    color: var(--light-grey);
    display: inherit;
  }

}

/* -----iPad/Tablet----- */

@media screen and (min-width: 1100px) {

  /* .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    /* grid-template-columns: 1fr 1fr 1fr; */
  /* } */
}
