/*  Add your styling here */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --purple: #4b004b;
  --light-blue: #30a8ff;
  --green-black: #133032;
  --dark-purple: #130325;
  --light-grey: #9a9a9eba;
  --light-white: #e2e1e7;
  --white: #fff;
  --transparent-white: rgba(0, 0, 0, 0.75);
  --gradient-blue-purple: linear-gradient(
    100deg,
    rgba(145, 1, 132, 1) 25%,
    rgba(52, 118, 175, 1) 100%
  );
    --gradient-purple-blue: linear-gradient(
    100deg,
     rgba(52, 118, 175, 1)25%,
    rgba(145, 1, 132, 1) 100%
  );
  --gradient-white-purple-pink: linear-gradient(
    201deg,
    rgb(253, 253, 253) 10%,
    rgb(107, 4, 98) 35%,
    rgb(255, 162, 249) 80%
  )
}

html {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight:normal
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}

body {
  background: var(--purple);
  color: var(--white);
}

/* ----- Header ----- */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* ----- Logo ----- */

.logo {
  width: 50px;
  margin-top: 1rem;
  margin-left: 10px;
}

/* ----- Nav menu ----- */

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
}

/* ----- Hamburger menu ----- */

label .menu {
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 25px;
  left: 10px;
  width: 30px;
  height: 2px;
  background: var(--light-white);
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--light-white);
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;

}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
  border-radius: 3px;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  z-index: 4;
  position: absolute;
  top: 50%; 
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: var(--purple);
  text-decoration: none;
  font-size: 25px;
}

/* ----- Main ----- */

main {
  padding: 30px;
  color: var(--light-white);


}
/* ----- hero ----- */

.hero {
  grid-area: hero;
  display: grid;
  gap: 0px;
  font-size: 24px;
  letter-spacing: 3px;
  padding: 30px 0;
}
.hero h1 {
  font-size: 2.1em;

}

.hero h2 {
  font-size: 2.1em;
}
.hero p {
  font-size: 20px;
  padding: 20px 0;
}
.hero .pricing {
  padding: 10px 0;

}
.hero a {
  font-size: 13px;
  letter-spacing: 4px;
  text-decoration: none;
  color: var(--light-white);
  border: 2px solid var(--light-blue);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  color: var(--light-white);
}

/* ----- Cards ----- */
.cards {
  grid-area: card;
  display: grid;
  gap: 30px;
  padding: 20px 0;
}

.box {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  padding: 15px 30px;
  letter-spacing: 2px;
  text-align: center;
  color: var(--light-white);
  background: var(--dark-purple);
  width: 330px;
  height: 350px;

}


.box2 {
  background: var(--gradient-blue-purple);
}

.box img {
  width: 50px;
}

.box span {
  font-size: 28px;
  font-weight: 400;
}

.box p {
  font-size: 17px;
}

.box a {
  font-size: 13px;
  letter-spacing: 2px;
  text-decoration: none;
  color: var(--light-white);
  border: 2px solid var(--light-blue);
  border-radius: 25px;
  font-size: 16px;
  padding: 10px 20px;
}

/* -----Companies----- */

.companies {
  grid-area: company;
  display: grid;
  justify-items: center;
  gap: 20px;
  padding: 20px 0;
  letter-spacing: 4.1px;
  text-align: center;
  color: var(--light-white);
}
.companies-icons {
  padding: 20px 0;
}

.companies h3 {
  font-size: 30px;
  font-weight: 400;
}
.companies h3 > span {
  font-size: 30px;
  font-weight: 400;
  background: var(--gradient-white-purple-pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.companies img {
  padding: 10px;
  width: 150px;
  filter: grayscale(1);
}

.companies img:hover {
  filter: none;
}

/* ---- ML Development ---- */

.development {
  grid-area: development;
  display: grid;
  justify-items: start;
  gap: 20px;
  padding: 20px 0;
  letter-spacing: 4px;
  text-align: start;
  color: var(--light-white);
}

.development span {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  background: var(--gradient-blue-purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.development h3 {
  font-size: 43px;
  font-weight: 500;
  letter-spacing: 4.3px;
}

.development p {
  font-size: 20px;
  padding: 10px 0;
}

/* ----- Get Start ----- */

.get-start {
  grid-area: get-start;
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  padding: 20px 0px;
  color: var(--light-white);
  letter-spacing: 2px;
  text-align: center;
}

.get-start span {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  background: var(--gradient-purple-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.get-start a {
  display: grid;
  text-decoration: none;
  border: 2px solid var(--light-blue);
  border-radius: 25px;
  font-size: 16px;
  padding: 10px 30px;
  text-align: center;
  color: var(--light-white);
}

/* ----- Footer ---- */
footer {
  border-top: 0.1px solid var(--light-grey);
  height: 40px;
  font-size: 0.875rem;
  padding: 10px 10px;
  text-align: center;
}

footer p {
  color: var(--light-grey);
}


/* -----Desktop----- */

@media screen and (min-width: 900px) {
  label .hamburger{
    display: none;
  }
}
